.transform {
  --translate-x: 0;
  --translate-y: 0;
  --rotate: 0;
  --skew-x: 0;
  --skew-y: 0;
  --scale-x: 1;
  --scale-y: 1;
  transform: translateX(var(--translate-x)) translateY(var(--translate-y)) rotate(var(--rotate)) skewX(var(--skew-x))
    skewY(var(--skew-y)) scaleX(var(--scale-x)) scaleY(var(--scale-y));
}
.translate-x-100 {
  --translate-x: 100%;
}
.translate-x-50 {
  --translate-x: 50%;
}
.translate-x-0 {
  --translate-x: 0;
}
.translate-x-n50 {
  --translate-x: -50%;
}
.translate-x-n100 {
  --translate-x: -100%;
}
.translate-y-100 {
  --translate-y: 100%;
}
.translate-y-50 {
  --translate-y: 50%;
}
.translate-y-0 {
  --translate-y: 0;
}
.translate-y-n50 {
  --translate-y: -50%;
}
.translate-y-n100 {
  --translate-y: -100%;
}
@for $i from 0 through 8 {
  .rotate-#{$i*45} {
    --rotate: #{$i * 45deg};
  }
}
@for $i from 0 through 8 {
  .rotate-n#{$i*45} {
    --rotate: #{$i * -45deg};
  }
}
@for $i from 0 through 10 {
  .scale-x-#{$i*1} {
    --rotate-x: #{$i * 0.1};
  }
}
@for $i from 1 through 10 {
  .scale-x-#{1+($i * 2) } {
    --rotate-x: #{$i * 0.1};
  }
}
@for $i from 0 through 10 {
  .scale-y-#{$i * 1} {
    --rotate-y: 1 + #{($i * 0.2)};
  }
}
@for $i from 1 through 10 {
  .scale-y-#{1+($i * 2) } {
    --rotate-y: #{1 + ($i * 0.2)};
  }
}
.transform-origin-center {
  transform-origin: center;
}
.transform-origin-top {
  transform-origin: top;
}
.transform-origin-bottom {
  transform-origin: bottom;
}
.transform-origin-left {
  transform-origin: left;
}
.transform-origin-right {
  transform-origin: right;
}
